.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
webpack.config.js
node_modules/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

# Python stuff
venv/**
.activate.sh
.deactivate.sh
.pre-commit-config.yaml
requirements-dev.txt
